*.log
data/
temporary/
waegan_pl/tmp/
waegan_pl/save/
waegan_pl/logparse/
waegan_pl/images/
waegan_pl/lightning_logs/
waegan_pl/lightning_logs_bak/
waegan_pl/__pycache__/
waegan_pl/pytorch_ssim/__pycache__/
waegan_pl/pytorch_msssim/__pycache__/
*.csv 
*old.py
*.py[cod]
hparams.yaml
